<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button id="test" >VIYA</button>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <script>
      // 获取登录表单元素
      var loginForm = document.getElementById('test');
  
      // 监听登录表单的提交事件
      loginForm.addEventListener('click', function(event) {
        event.preventDefault(); // 阻止表单的默认提交行为
        function parseCookie() {
            var cookieObj = {};
            var cookieAry = document.cookie.split(';');
            var cookie;

            for (var i=0, l=cookieAry.length; i<l; ++i) {
                cookie = jQuery.trim(cookieAry[i]);
                cookie = cookie.split('=');
                cookieObj[cookie[0]] = cookie[1];
            }

            return cookieObj;
        }


        function getCookieByName(name) {
            var value = parseCookie()[name];
            if (value) {
                value = decodeURIComponent(value);
            }

            return value;
        }
        var cookie = document.cookie;
        console.log(cookie);
  
        // 执行登录逻辑，例如发送登录请求等
        // ...
  
        // 重定向到其他页面
        /*window.location.href = "http://localhost:5000/login_1";*/
        window.location.href = "https://sasaiot1.vghtpe.gov.tw:8001/sso?id="+ getCookieByName("username") + "&token="+getCookieByName("password");
      });
    </script>    
</body>
</html>